/**Basicos**/

body {
    font-weight: 400;
    color: #162265;
    background-color: #F1F0F1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    opacity: 1;
    text-decoration: none;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a:hover {
    opacity: 0.7 !important;
    text-decoration: none;
}

.h1,
h1 {
    font-weight: 700;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -1px;
}

/**botones y cosas**/

.btn-primary {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    color: #101a4c;
    background-color: rgb(255, 229, 5);
    background: rgb(255, 229, 5);
    background: linear-gradient(0deg, rgba(255, 184, 4, 1) 0%, rgba(255, 229, 5, 1) 100%);
    border: 0px !important;
    font-size: 15px !important;
}

.btn-primary:hover {
    color: #101a4c;
    opacity: 0.7 !important;
}

.bg-primary {
    background-color: #ffbb05 !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #5d5a5a;
    background-color: #c6c6d0;
    border: 0px;
    padding: 7px 20px;
}

/**Cabecera**/

#menu .dropdown a.dropdown-item {
    color: #111e55 !important;
    padding-left: 20px !important;
}

#menu .dropdown a.dropdown-item a {
    color: #111e55 !important;
    padding-left: 20px !important;
}

.welcomeCol {
    margin: 30px auto;
}

#menu {
    background: rgb(19, 30, 88) !important;
    background: linear-gradient(0deg, rgba(19, 30, 88, 1) 0%, rgba(12, 19, 56, 1) 100%) !important;
}

#menu .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 39px;
    font-weight: 600 !important;
}

#menu .navbar-brand span {
    font-weight: 100 !important;
}

#menu #tokenPrice {
    width: auto;
    margin-right: 10px;
}

#menu #tokenPrice a {
    color: #ffdf04;
}

#menu #tokenPrice .separator {
    color: #ffdf04;
    margin: 0px 10px;
}

/*
.navbar-expand-lg .navbar-nav#tokenPrice {
    flex-direction: column;
    line-height: 25px;
}
*/

/**home**/

.homeContainer {
    max-width: 1190px !important;
    margin: 0 auto;
}

.descriptionProject {
    margin-top: 20px;
}

#welcomeTo {
    font-weight: 700;
    font-size: 70px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 70px;
    letter-spacing: -1px;
}

.tokenStats {
    background: white;
    border-radius: 18px;
    padding: 36px 45px 49px 45px;
    border: 10px #f1eff0 solid;
    box-sizing: border-box;
}

.tokenStatsTitle {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

.tokenStatsTable {
    width: 100%;
    font-size: 14px;
    margin: 25px 0px;
}

.tokenStatsTable tr {
    height: 25px !important;
}

.totalValueLockedTitle {
    font-weight: 700;
    margin-top: 20px;
}

.totalValueLockedValue {
    font-weight: 700;
    font-size: 33px;
}

.totalValueLockedFooter {
    color: #9e9eab;
}

.ourTokenContainer {
    background: white;
    border-radius: 18px;
    padding: 36px 63px 49px 71px;
    border: 10px #f1eff0 solid;
}

.twitterContainer {
    background: white;
    border-radius: 18px;
    padding: 36px 45px 49px 45px;
    border: 10px #f1eff0 solid;
}

.AnnouncementsTitle {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left !important;
}

.twitterEmbed {
    background-color: #f1eff0;
    height: 200px;
    padding: 20px;
    text-align: left;
    color: #c3bec7;
}

#auditedByContainer {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #a6a6b1;
    font-size: 14px;
}

#auditedByContainer a {
    color: #535377;
    text-decoration: underline;
}

#auditedByContainer a small {
    font-size: 99%;
    font-weight: 400;
}

/**pools**/

.singleContainerPoolRow {
    font-size: 14px;
}

.container-fluid {
    max-width: 1190px !important;
    margin: 0 auto;
}

.singleContainerPool {
    background: white;
    border-radius: 18px;
    padding: 36px 45px 49px 45px;
    border: 10px #f1eff0 solid;
}

.colPools {
    margin-bottom: 50px;
    margin-top: 20px;
}

.poolName {
    font-weight: 700;
    font-size: 22px;
}

.poolRightTopInfo {
    margin-bottom: 20px;
}

.earnedContainer {
    margin-bottom: 24px;
    margin-top: 25px;
}

.infoTag {
    color: #727294;
}

.badge {
    display: inline-block;
    padding: 4px 6px;
    font-size: 99%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: initial;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: white;
    margin-left: 5px;
}

.amoundEarned {
    color: #ccccd6;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.stakedTextContainer {
    margin-bottom: 5px;
}

.detailsLink {
    display: none;
}

.poolDetailsContainer {
    color: #aaa9b4;
}

.poolDetailsContainer a {
    color: #535377;
}

.earnRecommendingFooter {
    max-width: 600px;
    margin: 10px auto;
}

.operatePoolContainer {
    background: #ecebed;
    border-radius: 5px;
    padding: 10px;
}

.depositLink,
.withdrawLink {
    color: #1622654f !important;
}

.depositLink.active,
.withdrawLink.active {
    color: #162265 !important;
}

.tokenInputContainer {
    width: 100%;
    height: 35px;
    background: #dddbe0;
    border-radius: 5px;
    margin: 7px auto;
}

.tokenInput {
    float: left;
    width: 43%;
    border: none;
    background: none;
    outline: none;
    text-align: right;
    margin-top: 5px;
}

.poolNameTokenInputContainer {
    float: left;
    /*width: 28.5%;*/
    width: 31.5%;
    text-align: left;
    color: #162265;
    margin-top: 6px;
}

.maxButtonContainer {
    float: left;
    /*width: 28.5%;*/
    width: 25.5%;
    text-align: left;
}

.maxButtonContainer .btn-primary {
    width: 100%;
    box-sizing: border-box;
}

.walletBalance {
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px !important;
    color: #76768c;
}

.Toastify__toast-container--top-right {
    left: 0px;
}

.Toastify__toast-container--top-right a {
    color: #f6c9c4;
    text-decoration: none;
    background-color: initial;
}

.Toastify__toast--success {
    top: 75px;
    left: 0px;
    width: auto;
}

.Toastify__toast--success a {
    color: #b5ebb6 !important;
}

/**FARMS**/

.colFarms {
    margin-bottom: 50px;
    margin-top: 20px;
}

/**Referrral**/

.earnRecommendingContent {
    margin: 20px auto;
}

.rowReferral {
    /*margin: 20vh auto;*/
}

/**contenedor1home**/

#makeMoneyContainer {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
}

.ourTokenContainer .col-12:nth-child(1) {
    padding-left: 0px;
}

.ourTokenContainer .col-12:nth-child(2) {
    text-align: left;
    padding: 15px 0px;
    border-bottom: 2px solid #ecebed;
}

.ourTokenContainer .col-12:nth-child(3) {
    text-align: left;
    padding: 15px 0px;
    border-bottom: 2px solid #ecebed;
}

.ourTokenContainer .col-12:nth-child(4) {
    text-align: left;
    padding: 15px 0px;
}

.ourTokenContainer .col-12:nth-child(5) {
    padding-left: 0px;
    margin-top: 15px;
}

.ourTokenContainer .col-12:nth-child(6) {
    text-align: left;
    padding: 15px 0px;
    border-bottom: 2px solid #ecebed;
}

.ourTokenContainer .col-12:nth-child(7) {
    text-align: left;
    padding: 15px 0px;
    border-bottom: 2px solid #ecebed;
}

.ourTokenContainer .col-12:nth-child(8) {
    text-align: left;
    padding: 15px 0px;
}

.farmsAndStaking,
.ourTokenName,
.tokenInYourWallet {
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 0; */
}

.containerOurTokenToHarvest {
    padding-top: 7px;
}

.ourTokenToHarvest,
.tokenInYourWallet,
.ourTokenName {
    margin-right: 5px;
}

.ourTokenNameAndPrice {
    font-size: 25px !Important;
    padding-top: 6px;
    padding-left: 0px;
}

.ourTokenNameAndPrice .ourTokenName {
    font-size: 25px !Important;
}

.buyTokenButton {
    margin-top: 11px;
    float: right;
}

.ourTokenContainer .col-12:nth-child(3) .harvestButton {
    float: right;
}

.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-leaf-front,
.flipdown.flipdown__theme-dark .rotor-top {
    color: #fff;
    background-color: #111e55;
}

.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
    color: #f1eff0;
    background-color: #0e1745;
}

.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    background-color: #111e56;
}

.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #111e56;
}

#rewardsAtPoolsAndFarmsWillStartIn {
    text-align: center;
    padding-bottom: 30px;
}

#globalContainerRewardsAtPoolsAndFarms {
    padding: 80px 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    Background-color: #111e5736;
    padding-top: 60px;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    body {
        font-size: 15px;
    }
    #welcomeTo {
        font-weight: 700;
        font-size: 28px;
        max-width: 800px;
        margin: 0 auto;
        line-height: 30px;
        letter-spacing: -1px;
    }
    .welcomeCol {
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .tokenStatsTitle {
        font-size: 25px;
    }
    .totalValueLockedValue {
        font-size: 23px;
    }
    .AnnouncementsTitle {
        font-size: 25px;
    }
    .tokenStats {
        padding: 26px 35px 39px 35px;
    }
    .twitterContainer {
        padding: 26px 35px 39px 35px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(burguer.svg) !Important;
    }
    .navbar-toggler-icon {
        width: 21px !Important;
    }
    menu .navbar-nav .dropdown,
    #menu .navbar-nav .navbar-nav {
        list-style: none;
        text-align: center;
        width: 90px;
        line-height: 36px;
        margin: 0 auto;
    }
    #menu .navbar-nav .dropdown,
    #menu .navbar-nav .navbar-nav {
        margin: 0 auto;
    }
    #menu #account {
        margin-bottom: 20px;
    }
    .ourTokenContainer {
        background: white;
        border-radius: 18px;
        padding: 33px 43px 19px 41px;
        border: 10px #f1eff0 solid;
    }
    #makeMoneyContainer {
        font-size: 25px;
    }
    .ourTokenNameAndPrice {
        font-size: 15px !Important;
        padding-top: 9px;
        padding-left: 14px;
    }
    .ourTokenNameAndPrice .ourTokenName {
        font-size: 15px !Important;
    }
    .btn-primary {
        border: 0px !important;
        font-size: 14px !important;
        min-width: 94px;
    }
    .ourTokenToHarvestButtonContainer .btn-secondary:disabled {
        color: #5d5a5a;
        background-color: #c6c6d0;
        border: 0px;
        padding: 7px 10px;
        font-size: 15px;
        min-width: 94px;
    }
    .ourLogoTokenContainer img {
        width: 40px !important;
    }
    .buyTokenButton {
        margin-top: 9px;
        float: right;
    }
    #tokenPrice {
        margin: auto !important;
    }
    .navbar-nav .separator {
        display: none;
    }
    .btn-primary {
        min-width: auto !important;
    }
}

.ourTokenToHarvestButtonContainer .harvestButton {
    float: right !important;
}

.activeBadgeContainer {
    margin-top: 3px;
}